data/cache/stock_data
data/cache/rsi_data
data/cache/*.json
data/config/ylwz_session_id.json
data/config/tushare_token.json
log/*
src/database/word_table_*.csv
src/database/auto_gen_code_*.py
src/config/__pycache__
src/common/__pycache__
src/processor/__pycache__
